[project]
name = "python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "componentize-py>=0.18.0",
    "wasmtime>=38.0.0",
]
